* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(255, 255, 255);
    /* font-family: 'Baloo Bhai 2', cursive; */
}

/* .common_family {
    font-family: 'Courier New', Courier, monospace;
} */

.common_font {
    font-family: cursive;
}

/******************************************************
Home
*******************************************************/

/****************
NavBar
****************/
.navbar {
    font-family: 'Baloo Bhai 2', cursive;
}

.logo {
    height: 4rem;
    width: 15rem;
}

/****************
Slider
****************/

.slider {
    height: 320px;
}

/****************
Main Section
****************/

/****************
Title
****************/

.best::after {
    content: "";
    display: block;
    width: 57px;
    height: 2px;
    background: #f7444e;
    margin: 10px auto 10px;
}

/****************
Best Product
****************/

.beds_section {
    border-radius: 15px;
    background-color: #faf8f89a;
    /* background-color: #faf8f8; */
}

.image_2 {
    width: 97%;
    text-align: center;
    height: 14.5rem;
    cursor: pointer;
}

.trans {
    transition-property: all;
    transition-timing-function: ease;
    transition: 0.2s;
}

.trans:hover {
    transform: scale(80%);
}

/****************
Contact
****************/

.contact {
    background-color: #002c3e;
}

/******************************************************
About Us
*******************************************************/

/****************
Owner
****************/

.tes {
    background: #e9eeef11;
    /* background: #8a425a41; */
}

.test_text {
    font-family: 'Lucida', serif;
    font-size: 24px;
    color: #8a8a8a;
    font-style: italic;
    line-height: 1.75;
}

.test_image {
    width: 230px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 26px;
}

.test_image img {
    max-width: 100%;
}

.test_name {
    font-family: 'Lucida', serif;
    font-size: 16px;
    font-weight: 700;
    color: #232323;
    margin-top: 14px;
}

/******************************************************
Contact Us
*******************************************************/

/****************
Owner
****************/

#contact {
    position: relative;
}

#contact::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
    /* background: url(./pic/jutti1-removebg-preview.png) no-repeat center center/cover; */
    background: url(./pic/contact.jpg) no-repeat center center/cover;
    /* background: url(./pic/image1.png) no-repeat center center/cover; */
}

.form_bg {
    background-color: rgb(191 19 16 / 43%);
    /* background-color: rgb(51 88 78 / 43%); */
    /* background-color: rgb(164 205 150 / 56%); */
}


/* swiper css start  */

swiper-container {
    width: 76rem;
}

swiper-slide {
    /* height: 300px; */
    line-height: 300px;
    text-align: center;
}

/* swiper css end */

/* product css start  */

/* .image_3 {
    height: 43rem;
    width: 30rem;
    padding-top: 9rem;
} */

.price {
    text-decoration: line-through;
    color: #cccccc;
    margin-bottom: 0;
}

.pro_table {
    border: 1px solid #f0f0f0;
}




/* responsing  */

/* 
@media (max-width: 1074px) {
    .image_2 {
        width: 97%;
        text-align: center;
        height: 15rem;
        cursor: pointer;
    }
} */

@media (max-width: 1030px) {
    .bed {
        font-size: 19px !important;
    }
}

/* @media (max-width: 950px) {
    .slider {
        height: 35vh;
    }
} */

@media (max-width: 768px) {
    .slider {
        height: 50vh;
    }

    /* .suitmd {
        margin-top: 23px;
    } */
}

@media (max-width: 578px) {
    /* .suitmd1 {
        margin-top: 23px !important;
    } */

    .product_best {
        width: 22rem;
        padding-top: 23px;
    }

    .contact_add {
        display: block;
        /* color: black; */
    }

    /* .image_2 {
        height: 50vh;
    } */
    .shoping {
        padding-top: 15px;
    }
}

@media (max-width: 550px) {
    .slider {
        height: 39vh;
    }

}

@media (max-width: 414px) {
    .slider {
        height: 25vh;
    }

    .best::after {
        width: 40px;
        height: 2px;
    }

    .title {
        font-size: 1.5rem;
    }

}

@media (max-width: 350px) {
    .logo {
        height: 4rem;
        width: 11.5rem;
    }

    .slider {
        height: 20vh;
    }

    /* .image_2 {
        height: 50vh;
    } */
}