* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(255, 255, 255);
}

/******************************************************
Home
*******************************************************/

/****************
NavBar
****************/
.logo {
    height: 4rem;
    width: 15rem;
}

/****************
Slider
****************/
.slider {
    height: 320px;
}

/****************
Main Section
****************/

/****************
Title
****************/

.best::after {
    content: "";
    display: block;
    width: 57px;
    height: 2px;
    background: #f7444e;
    margin: 10px auto 10px;
}

/****************
Best Product
****************/
.beds_section1 {
    border-radius: 15px;
    width: 100%;
    /* height: auto; */
    /* background-color: #faf8f89a; */
    border: 0.5px solid rgb(231, 228, 228);
    /* background-color: #faf8f8; */
    /* background-color: rgb(191 19 16 / 43%); */
}

.image_3 {
    width: 100%;
    text-align: center;
    height: 19rem;
    /* height: auto; */
    cursor: pointer;
    object-fit: fill;
}

.trans {
    transition-property: all;
    transition-timing-function: ease;
    transition: 0.2s;
}

.trans:hover {
    transform: scale(98%);
}

/****************
Contact
****************/

.contact {
    background-color: #002c3e;
}

/******************************************************
About Us
*******************************************************/

/****************
Owner
****************/

.tes {
    background: #e9eeef11;
    /* background: #8a425a41; */
}

.test_text {
    font-family: 'Lucida', serif;
    font-size: 24px;
    color: #8a8a8a;
    font-style: italic;
    line-height: 1.75;
}

.test_image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 26px;
    border: 0.5px solid rgb(233 230 230);
}

.test_image img {
    max-width: 100%;
}

.test_name {
    font-family: 'Lucida', serif;
    font-size: 16px;
    font-weight: 700;
    color: #232323;
    margin-top: 14px;
}

/******************************************************
Contact Us
*******************************************************/

/****************
Owner
****************/

#contact {
    position: relative;
}

#contact::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
    background: url(./pic/contact.jpg) no-repeat center center/cover;
}

.form_bg {
    background-color: rgb(137 133 186 / 25%);
}

textarea {
    resize: none;
}








/* swiper css start  */

swiper-container {
    width: 76rem;
}

swiper-slide {
    /* height: 300px; */
    line-height: 300px;
    text-align: center;
}

/* swiper css end */

/* product css start  */

/* .image_3 {
    height: 43rem;
    width: 30rem;
    padding-top: 9rem;
} */

.price {
    text-decoration: line-through;
    color: #cccccc;
    margin-bottom: 0;
}

.pro_table {
    border: 1px solid #f0f0f0;
}




/**********************************************************************
Responsing
**********************************************************************/

@media (max-width: 1030px) {
    .bed {
        font-size: 19px !important;
    }
}

@media (max-width: 768px) {
    .slider {
        height: 50vh;
    }
}

@media (max-width: 578px) {
    .product_best {
        width: 22rem;
        padding-top: 23px;
    }

    .contact_add {
        display: block;
    }

    .shoping {
        padding-top: 15px;
    }

    .seemore_bt {
        display: none;
    }

    .about_shop {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about_icon {
        display: none;
    }

}

@media (max-width: 550px) {
    .slider {
        height: 39vh;
    }

}

@media (max-width: 414px) {
    .slider {
        height: 25vh;
    }

    .best::after {
        width: 40px;
        height: 2px;
    }

    .title {
        font-size: 1.5rem;
    }

    .beds_section1 {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

@media (max-width: 350px) {
    .logo {
        height: 4rem;
        width: 11.5rem;
    }

    .slider {
        height: 20vh;
    }

    .beds_section1 {
        width: 90%;
        height: 17rem;
        margin-left: auto;
        margin-right: auto;
    }

    .image_3 {
        width: 100%;
        height: 10rem;
    }
}