* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(255, 255, 255);
}

/* navbar css start  */

.logo {
    height: 4rem;
    width: 15rem;
}

/* navbar css end  */


/* slider css start */

.slider {
    height: 60vh;
}

/* slider css end  */


/* best product css start */

.products p::after {
    content: "";
    display: block;
    width: 50px;
    height: 5px;
    background: #f7444e;
    margin: 10px auto 10px;
}

.iconbutton {
    color: black;
}

.buttonall {
    text-decoration: none;
}

.beds_section {
    border-radius: 3px;
    background-color: #faf8f8;
}

.image_2 {
    width: 97%;
    text-align: center;
    height: 25rem;
    cursor: pointer;
}

.trans {
    transition-property: all;
    transition-timing-function: ease;
    transition: 0.2s;
}

.trans:hover {
    transform: scale(80%);
}

/* best product css end  */

/* contact css start  */

.contact {
    background-color: #002c3e;
}

/* contact css end  */

/* about css start  */

.aboutpro {
    background-color: #d4ced0;
}

/* about css end */

/* swiper css start  */

swiper-container {
    width: 76rem;
}

swiper-slide {
    /* height: 300px; */
    line-height: 300px;
    text-align: center;
}

/* swiper css end */

/* product css start  */

/* .image_3 {
    height: 43rem;
    width: 30rem;
    padding-top: 9rem;
} */

.price {
    text-decoration: line-through;
    color: #cccccc;
    margin-bottom: 0;
}

.pro_table {
    border: 1px solid #f0f0f0;
}

/* product css end  */
/* responsing  */

@media (max-width: 768px) {
    .suitmd {
        margin-top: 23px;
    }
}

@media (max-width: 575px) {
    .suitmd1 {
        margin-top: 23px;
    }
}

@media (max-width: 550px) {
    .slider {
        height: 42vh;
    }

}


@media (max-width: 350px) {
    .logo {
        height: 4rem;
        width: 11.5rem;
    }

    .slider {
        height: 35vh;
    }

    .image_2 {
        height: 50vh;
    }
}